html {
	font-family:arial, sans-serif;
	background-color:#dbd6cf;
}

h1,h2, h3{
	font-family: 'Bevan', cursive;
	color:#79756f;
	font-size:2rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size:1.25rem;
}

b{
	font-style: none;
	font-weight: normal;
	color:#79756f;
}

.nav{
	list-style-type: none;
	padding: 0;
}

.tplanets{
	list-style-type: lower-roman;
}

a{
	color:#713837;
}

.sources{
	list-style-type: circle;
}

a:hover{
	color:red
}

dt{
	font-weight: bold;
}

figcaption{
	font-style:italic;
	font-size: 0.75rem;
}
