html {
	font-family:arial, sans-serif;
	background-color:#dbd6cf;
}

h1,h2, h3{
	font-family: 'Bevan', cursive;
	color:#79756f;
	font-size:2rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size:1.25rem;
}

b{
	font-style: italic;
	font-weight: normal;
}

a{
	color:black;
}

a:hover{
	color:red
};
